@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
nav {
    background-color: #333;
    color: #fff;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.nav-menu li a:hover {
    background-color: #555;
}
.image-s{
    width: 40%;
    float: right;
    margin-top: 10px;
    margin-right: 12%;

}


.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 10%;
    margin-left: 12%;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
}

.input-group input {
    width: 80%;
    padding: 15px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #4CAF50;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

.sign-up {
    text-align: center;
    margin-top: 20px;
}

.sign-up a {
    color: #4CAF50;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}